@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Middle Valley Community Bank</h1>
    <p class="lead">Middle Valley Community Bank offers the first web-based ATM.<br />Give a try today</p>
    <p class="text-center"><button  class="btn btn-primary btn-lg text-center">Powered By <em>SAN</em><b>CONNECT</b></button></p>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h2>Register Here</h2>
        <p>
            Open An Account With Us
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>Access Your Existing Accounts</p>
        <p><a class="btn btn-default" href="~/Account/Login">Log In &raquo;</a></p>
    </div>
    <div class="col-md-2">
    </div>
</div>